@import './../../styles/partials/_mixins.scss';
@import './../../styles/partials/_typography.scss';
@import './../../styles/partials/_variables.scss';

.comments-section {
    padding: 1rem;
}

.comments-section__count {
    font-weight: 600;
}

.comments-section__form-profile-pic {
    @include avatar-style(2.25rem, 2.25rem, 1rem);
    object-fit: cover;
    object-position: 10%;

}

.comments-section__form-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-bottom: $border;
}

.comments-section__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comments-section {
    display: flex;
    flex-direction: column;

  
    &__label {
      color: $silver;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.625rem;
      margin: 0.125rem 0;
  
      @include tablet {
        font-size: 0.75rem;
      }
    }
  
    &__input {

        height: 5rem;

   
      border-radius: 0.25rem;
      margin: 0.125rem 0 0;
      padding: 0.75rem;
        border: $border;
        background-color: $alabaster;
        color: $brainflix-black;
        font-family: inherit;
        resize: none;
  
        @include tablet {
          height: 1rem;
    
          width: 100%;
        }
  
        &::placeholder {
          color: $brainflix-black;
          font-size: 0.8125rem;
    
          
  
          @include tablet {
            font-size: 0.875rem;
    
            
          }
        }
  
        &:focus {
          border-color: $brainflix-black;
          background-color: $white;
          outline: none;

        }
  

    }
  
  }

.comment-section__add-comment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    

    @include tablet {
        flex-direction: row;
        align-items: baseline;
        gap: 1rem;

    }
}
  
.comments-section__button-submit {
    background: url('../../assets/icons/add_comment.svg') no-repeat 10px center / 20px 20px;
    border-radius: .25rem;
    padding: 0 2rem;
    width: 100%;
    height: 2.5rem;
    border: none;
    font-size: 13px;
    font-family: inherit;
    font-weight: $demi;
    text-transform: uppercase;
    background-color: $brainflix-blue;
    color: $white;
    margin-bottom: 1rem;
   
    cursor: pointer;


    order: 3;

    @include tablet {
        order: 2;
        width: 9.375rem;
        padding: 0 2rem;
        margin-bottom: 0;
   
    }
}
  
//   <div className='comments-section'>
//   <p className="comments-section__count">{comments.length} Comments</p>
//   <div className="comments-section__form-wrapper">
//       <img className="comments-section__form-profile-pic" src="src/assets/images/Mohan-muruge.jpg" alt="side profile of Mohan" />
//       <form className="comments-section__form" action="submit">
//           <label className="comments-section__label" htmlFor="comment">Join the Conversation</label>
//           <textarea className="comments-section__textarea" name="comment" placeholder="Add a new comment"></textarea>
//           <button className="comments-section__button-submit">Submit</button>
//       </form>
//   </div>
//   <div className="comments-section__list">
//       {comments.map((comment) => (
//           <Comment
//               key={comment.id}
//               name={comment.name}
//               comment={comment.comment}
//               timestamp={comment.timestamp}
//           />
//       ))}
//   </div>
// </div>
// );