@import 'variables';
@import 'typography';

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
  }
  
@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}


@mixin avatar-style($width, $height, $margin-top) {
    width: $width;
    height: $height;
    border-radius: 50%;
    flex-shrink: 0;
    margin-top: $margin-top;
    background-color: $mercury;
    
    @include tablet {
      width: 3rem;
      height: 3rem;
    }
  }


  
  @mixin font-style($size, $weight: $weight-normal, $line-height: normal) {
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
  }
  
  
  @mixin flex-layout($direction: row, $justify: flex-start, $align: stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }
  
  @mixin spacing($margin: 0, $padding: 0) {
    margin: $margin;
    padding: $padding;
  }
  
