@import './../../styles/partials/_mixins.scss';
@import './../../styles/partials/_typography.scss';
@import './../../styles/partials/_variables.scss';

.main-video {
    &__player-wrapper {
        background-color: $brainflix-darkblack;
        width: 100%;
        overflow: hidden;
        text-align: center;
    }

    &__player {
        width: 100%;
        object-fit: cover;

        @include tablet {
            object-fit: contain;
            width: calc(100% - 4.5rem);
        }

        @include desktop {
            width: calc(80rem - 25rem);
            margin: 0 auto;
        }
    }
}
