@import './../../styles/partials/_mixins.scss';
@import './../../styles/partials/_typography.scss';
@import './../../styles/partials/_variables.scss';



.main-video__content {
    padding: 1rem;

    @include tablet {
        padding: 1.5rem 2.25rem;

    }

    @include desktop {
        padding: 0;
    }
}

.main-video__title {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 1rem;

    @include tablet {
        font-size: 2.0625rem;
        line-height: 2.75rem;
        padding-bottom: 0;

    }

}

.main-video__info {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    border: $border;
    border-style: solid none;
    font-size: 0.8125rem;
    color: $silver;
    padding: 1rem 0;

    @include tablet {
        justify-content: space-between;
        border-style: none none solid;
        font-size: .875rem;

    }
    @include desktop {
      
    }
}

.main-video__upload {
    @include tablet {
        display: flex;
        gap: 1rem;
    }
}

.main-video__author {
    font-weight: 600;
    color: $brainflix-darkblack;
    padding-bottom: 1rem;

    @include tablet {
        padding-bottom: 0;
    }
}

.main-video__stats {
  
    @include tablet {
        display: flex;
        gap: 1rem;
    }
}

.main-video__views, .main-video__likes {
    
    display: flex;
    gap: 0.5rem;
}

.main-video__date {
    color: $silver;
}

.main-video__likes {
    
    &-count {
        color: $silver;
    }
}

.main-video__views {
    padding-bottom: 1rem;

    @include tablet {
        padding-bottom: 0;
    }
    &-count {
        color: $silver;
    }
}

.main-video__description {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    padding-top: 1rem;

    @include tablet {
        font-size: .875rem;
        line-height: 1.375rem;
    }
    
}