@import './styles/partials/mixins.scss';
@import './styles/partials/typography.scss';
@import './styles/partials/variables.scss';
@import './components/Header/Header.scss' ;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Avenir Next LT Pro', sans-serif;

}

