@import './styles/partials/mixins.scss';
@import './styles/partials/typography.scss';
@import './styles/partials/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $white;
    color: $brainflix-black;
    font-family: 'Avenir Next LT Pro', sans-serif;
}


button {
    border: none;
    font-family: inherit;
    border-radius: .25rem; 
    height: 2.5rem;
    padding: 0 2rem;
    font-size: .75rem;
    font-weight: $demi;
    text-transform: uppercase;
    background-color: $brainflix-blue !important;
    color: $white !important;

    &:hover {
        background-color: $brainflix-darkblue !important;
    }
}

input, textarea {
    border: $border; 
    font-family: inherit;
    box-sizing: border-box;
    background-color: $alabaster !important;
    color: $brainflix-black;

    &:focus  {
        border: .125rem solid $brainflix-blue !important;
        background-color: $white !important;
        outline: none;
    }

    &::placeholder {
        color: $brainflix-black !important;
        font-size: .75rem !important;
        
        @include tablet {
          font-size: 0.875rem;
        }
    }   
}

ul, li, a {
    list-style-type: none;
    text-decoration: none;
}

